

:host {
  font-family: Roboto, sans-serif;
  display: block;
  font-size: 1rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  z-index: 3;
  /*
  margin-left: -.5rem;
  width: calc(100% + 1rem);
  */
  margin-top: -1rem;
  color: #444;
  max-height: 220px;
}

:host ul {
  display: none;
}

:host(.sticky) {
  position: sticky;
  position: -webkit-sticky;
  top: -114px;
}

.title-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  font-family: Roboto, sans-serif;
  position: absolute;
  height: 90px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  padding: .5rem 3.2rem .5rem .5rem;
  font-weight: bold;
  left: 0;
  bottom: 0;
  right: 0;
}

.title, .subtitle {
  line-height: 3rem;
}
.title-panel a {
  text-decoration: none;
}

.title, .subtitle {
  color: white;
}

.title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding-top: 0;
}

.subtitle {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.ve-header {
  position: relative;
  height: 100%;
}

nav {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 12px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

sl-button::part(base) {
  background-color: rgba(0, 0, 0, 0.2);
}

/*:host(.sticky) nav {
  position: fixed;
  top: 0;
  padding-top: 16px;
}*/

nav sl-icon {
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 7px;
}

nav sl-menu-item sl-icon {
  color: inherit;
  padding: 0 6px 0 0;
  font-size: 20px;
}
nav sl-menu-item:hover sl-icon {
  color: inherit;
}

#info-icon {
  position: absolute;
  font-family: serif;
  z-index: 1;
  bottom: 12px;
  right: 19px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: -1px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

#info-icon:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

#image-info-popup {
  position: absolute;
  display: none;
  width: 75%;
  max-width: 300px;
  height: auto;
  max-height: 500px;
  background: #fff;
  right: 72px; 
  top: 8px;
  padding: 6px;
  border: 1px solid #444;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  overflow-y: scroll;
  z-index: 10;
}

:host #info-icon {
  visibility: hidden;
}

:host(:hover) #info-icon {
  visibility: visible;
}

/* Laptops and Desktops */
@media (min-width: 481px) {

  :host {
    /*
    margin-left: -1rem;
    width: calc(100% + 2rem);
    */
    max-height: 300px;
  }

  :host(.sticky) {
    top: -158px;
  }
  
  .title-panel {
    height: 132px;
  }

  .title-panel {
    height: 120px;
    padding: 1rem 5rem .5rem 2rem;
  }

  nav {
    top: 36px;
    right: 24px;
  }  

  #info-icon {
    bottom: 20px;
    right: 31px;
  }
  
  .title {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }
  
  .subtitle {
    font-size: 2rem;
    line-height: 2rem;
    min-height: 1em;
  }
  
  #menuToggle {
    top: 28px;
  }
}