:host {
  font-family: Roboto, sans-serif;
}

.card-overview {
  max-width: 200px;
}

.label {
  font-size: 1em;
  line-height: 1.1em;
  font-weight: bold;
  padding-bottom: 12px;
}

.description {
  font-size: .8em;
  line-height: 1.1em;
}