:host {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.autocomplete__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  float: left;
  width: 100%;
  max-width: 500px;
  height: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

.wikidata-search {
  display: inline-block;
  height: calc(1.5em + 0.75rem + 2px);
  margin-right: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  background-color: white;
}

.wikidata-search i {
  padding-left: 6px;
  font-size: 1.2rem;
  color: #333;
}

.autocomplete__results.visible {
  visibility: visible;
  min-width: 320px;
}

.autocomplete__input {
  display: block;
  width: 100%;
  min-width: 220px;
  height: 100%;
  border: none;
  padding-left: 0.5rem;
  border-radius: 3px;
  font-size: 1.1rem;
}

.autocomplete__input:focus {
  border-color: hsl(221, 61%, 40%);
}

.autocomplete__dropdown-arrow {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  transition: transform 0.2s linear;
}

.autocomplete__dropdown-arrow.expanded {
  transform: rotate(-180deg);
}

.autocomplete__results {
  visibility: hidden;
  position: absolute;
  top: 100%;
  margin-top: 0;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #999;
  padding: 0;
  max-height: 400px;
  background: white;
  z-index: 500;
}

.autocomplete__results > li {
  list-style: none;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: black;
}

.autocomplete__results ul {
  list-style-type: none;
  padding-left: 0;
}

.autocomplete__results > li:hover {
  background: hsl(212, 10%, 60%);
}

.autocomplete__results > li:focus {
  background: hsl(212, 10%, 70%);
}

.label {
  font-weight: bold;
}

.aliases {
  font-style: italic;
}

.description {
  font-size: 0.9rem;
  padding: 2px 0;
}

.continue {
  font-weight: bold;
  background-color: #ddd;
}

.search {
  display: grid;
  border-radius: 0;
  /* padding: 6px 30px; */
  background-color: #555; 
  color: white;
  width: 100%;
  align-items: center;
}
