:host {
  font-family: Roboto, sans-serif;
}

.wrapper {
  max-height: 40vh;
  min-height: 20vh;
  overflow-y: scroll;
}

h4 {
  margin: 0 0 3px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.card {
  max-height: 200px;
}
.card-body {
  padding: 0.5rem;
  max-height: 200px;
  overflow-y: scroll;
}
.card-img {
  max-height: 200px;
  object-fit: contain;
}
.card-text {
  font-size: 0.9rem;
  overflow-y: scroll;
}

.depicted-entities {
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

.depicted-entities li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.depicted-entities li > * {
  flex: 1;
  text-align: center;
  padding: 6px 0;
}
.header {
  border-bottom: 2px solid black;
}
div.label {
  text-align: left;
  min-width: 30%
}

.controls {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 18px;
}

.controls button {
  cursor: pointer;
}

.control label {
  margin-bottom: 0;
}

.depicts {
  padding: 9px;
}

.depicts .entities ul {
  margin: 0;
  padding-left: 6px;
  list-style-type: none;
}

.depicts .entities ul li {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.depicts .entities .controls {
  display: flex;
  justify-content: right;
}

.depicts .entities .controls label {
  padding-left: 6px;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;

}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-column-gap: 12px;  
}