:host {
  font-family: Roboto, sans-serif;
  font-size: .8em;
}

.wrapper {
  position: absolute;
  overflow: hidden;
  width: 40%;
  min-width: 150px;
  /*height: calc(100% - 36px);*/
  height: 0;
  bottom: 0;
  overflow-y: scroll;
}

.wrapper.open {
  height: 100%;
}

#drawer {
  position: absolute;
  left: -100%;
  width: 100%;
  height: calc(100% + 36px);
  top: ;
  overflow-y: scroll;
  transition: .5s;
  background-color: white;
  z-index: 2;
}

#drawer.open {
  left: -1px;
  transition: .5s;
  border-top: 0.5px solid #222;
  box-shadow: 10px 0 20px -5px rgba(115,115,115,0.75);
}

#drawer > * {
  margin: 6px;
}
