:host span svg {
  fill: white;
  width: 18px;
  cursor: pointer;
}

.annotations {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-area: 4 / 1 / 5 / 3;
  background-color: #272727;
  color: white;
  text-align: center;
  padding: 8px;
  z-index: 2;
}

.anno-controls {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: stretch;
  display: grid;
  grid-template-columns: auto auto auto;
  cursor: pointer;
  align-items: center;
}

.anno-nav {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
.anno-close {
  grid-area: 1 / 2 / 2 / 4;
  justify-self: end;
}
.anno-close svg {
  font-size: 1rem !important;
}
.anno-controls-text {
  font-size: 0.8rem;
  margin-top: 0;
}
.anno-controls svg {
  font-size: 1rem;
  color: #fff;
  margin-top: 0;
}
.anno-controls svg:hover {
  color: #444A1E;
}

.annos {
  grid-area: 2 / 1 / 3 / 2;
  padding: 8px;
  max-height: 90px;
  overflow-y: scroll;
}