.ve-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 12px;
  align-items: center;
  justify-items: center;
  padding: 12px 12px 24px 12px;
  /* clear: both; */
}

.ve-image-grid > * {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  width: 240px;
  max-width: 100%;
}

/* Laptops and Desktops */
@media (min-width: 768px) {
  .ve-image-grid {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
  
  .ve-image-grid > * {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 200px;
    max-width: 100%;
  }
}