@import "../../global/shoelace.css";

:host {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  padding: 12px;
  z-index: 100;
}

.drawer-contained::part(overlay) {
  background: None;
}