@import "../../global/shoelace.css";

:host {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  padding: 12px;
}

.drawer-contained::part(overlay) {
  background: None;
}