:host {
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
  z-index: 2;
  background: white;
  border-radius: 4px;
}

:host div {
  color: black;
  width: 100%;
  margin: 6px auto;
  text-align: center;
}

:host div svg {
  width: 20px;
}

:host div {
  line-height: 2;
  border-bottom: 1px solid #989898;
}

:host div:last-child {
  border-bottom: none;
}

:host div:hover, :host div:hover {
  color: #444A1E;
  fill: #444A1E;
  transform: scale(1.05, 1.05);
}

