:host {
  display: flex;
  flex-direction: column;
  width: 36px;
  cursor: pointer;
  z-index: 2;
  background: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

:host div {
  width: 100%;
  margin: 4px auto;
  text-align: center;
}

:host div svg {
  fill: #444;
  width: 18px;
}

:host div {
  border-bottom: 1px solid #989898;
}

:host div:last-child {
  border-bottom: none;
}

:host div:hover svg {
  fill: black;
  transform: scale(1.2, 1.2);
}

#tooltip {
  /* transition: top 5.5s ease; */
  /*top:174px;*/
  visibility: hidden;
  z-index: 10;
  position: absolute;
  background: #646464;
  border-radius:4px;
  padding: 6px 12px;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #000;
  color: white;
  width: 100px;
}

/*
#tooltip:before {
  content : " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #646464;
  position:absolute;
  bottom:-5px;
  left:5px;
}
*/
