#ve-search-container > * {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    padding: 3px;
}

#ve-search-container {
    width: 60%;
}

#ve-search-input, #ve-search-button, #ve-search-hide-button, #ve-search-filters-button {
    border: 2px solid rgb(120, 120, 120);
    line-height: 1em;
}

#ve-search-input {
    width: 65%;
    margin-left: 0%;
    padding: 3px;
}

#ve-search-button, #ve-search-hide-button, #ve-search-filters-button {
    margin-left: 0.5%;
    font-size: 11px;
}

#ve-search-hide-button {
    display: none;
}

#ve-search-dropdown {
    margin-top: 0%;
    width: 50%;
    background-color: #f9f9f9;
    padding: 0px;
    position: absolute;
    z-index: 1;
}

#ve-search-output,  #ve-search-filters {
    width: 90%;
    margin-top: 0%;
    display: none;
    list-style: none;
    padding: 5px;
    padding-left: 10px;   
}

#ve-search-filters {
    border-bottom: 1px solid rgb(120, 120, 120);

}

#ve-search-filters > li {
    display: inline-block;
    padding: 2px;
    padding-right: 15px;
}

.ve-search-snippet {
    font-size: 0.7em;
    margin-left: 2%;
    margin-top: 0%;
}

.ve-search-link, .ve-search-link:hover {
    color: rgb(147 179 243);
    text-decoration: none;
}

.ve-search-link:visited {
    color: rgb(188 140 242);
    text-decoration: none;
}