:host {
  font-family: Roboto, sans-serif;
}

* { box-sizing: border-box; }

input[type=file] {
  font-size: 1.2rem;
}

form {
  margin: 12px;
}
form > * {
}

form .buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

sl-dialog::part(body) {
  /* overflow: unset; */
}

form {
  display: grid;
  height: 60vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  margin: 0;
  gap: 12px;
}
.metadata {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;;
}
.exif-data ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.label {
  font-weight: bold;
  margin-right: 12px;
}
.label::after {
  content: ':';
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.search {
  display: flex;
  align-items: center;
  gap: 12px;
}
.search div {
  font-size: 1.1rem;;
  font-weight: bold;
}

ve-wikidata-search {
  width: 100%;
}

.depicted {
  margin-top: 12px;
}
.depicted ul {
  list-style: none;
  margin: 12px 0;
  padding: 0;
  width: 95%;
}

.depicted ul li {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 9px;
  width: 100%;
}
.entity-label {
  width: 30%;
}
.entity-description {
  width: 50%;
}
.remove-entity {
  margin-left: auto;
}

.value {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}